@use "base" as *;

//NAVBAR//

.start-nav,.login-nav, .overzicht-nav, .detail-nav {
  @include navbarStyle;
}

//HEADER_MAIN//
.start-body {
  background: linear-gradient(rgba($color-grey, 0.4), rgba($color-grey, 0.6), rgba($color-grey, 0.8), rgba($color-grey, 1.0)), url("../assets/phone-bg.jpeg");
  background-size: cover;
  .start-header {
    .logo {
      @include flexLayout;
      font-size: 70px;
      color: $color-primary;
      text-decoration: none;
    }
    .header-banner{
      margin-top: 15%;
    }
    .header-name {
      font-family: $font-nunito;
      font-size: 50px;
      color: $color-light;
    }

    .sub-name {
      font-family: $font-josefinSans;
      font-size: 20px;
      font-weight: bolder;
      color: $color-secondary;
      margin-bottom: 20px;
      text-align: center;
    }

    .main-heading {
      font-family: $font-pixelify;
      font-size: 80px;
      font-weight: 400;
      color: $color-primary;
      margin: 30px 0;
    }

    .sub-heading {
      font-family: $font-josefinSans;
      font-size: 20px;
      font-weight: 400;
      color: $color-secondary;
      margin-bottom: 50px;
    }

    .header-button {
      width: 200px;
      height: 75px;
      font-family: $font-josefinSans;
      font-variant: all-small-caps;
      letter-spacing: 1px;
      color: $color-light;
      background-color: transparent;
      border: 1px solid $color-secondary;
      outline: none;
      cursor: pointer;
      border-radius: 2px;
    }

    .header-button:hover {
      background-color: $color-primary;
      color: $color-light;
      border: 1px solid $color-primary;
      border-radius: 2px;
      transition: all .4s;
    }

    .product-main {
      margin: 10% 0;
      font-family: $font-josefinSans;
      color: $color-light;
      font-weight: normal;
    }

    .arrow-down {
      color: $color-primary;
      @include textStyles;
      horiz-align: center;
      font-size: x-large;
    }
  }


}


//MAIN//

//STARTPAGINA_MAIN//
.start-main{
  padding-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .product{
    @include textStyles;
  &-name{
    font-family: $font-josefinSans;
    font-size: x-large;
    font-weight: 700;
    color: $color-light;
  }
  &-pro{
    width: 40%;
    height: auto;
    padding: 20px;
  }
  &-price{
    color: $color-light;
    font-family: $font-nunito;
    font-size: x-large;
    span{
      text-decoration: line-through;
      color: $color-secondary;
    }
  }
  }
}

//OVERZICHT_MAIN

.overzicht-body{
  background: linear-gradient(rgba($color-grey, 0.8), rgba($color-light, 0.6)), url("../assets/iphone-bg-2.jpeg");
  background-size: cover;
  .overzicht-main{
    .top-overzicht-main{
      @include flexLayout;
      @include centerText;
      flex-direction: column;
      margin: 5% 0;
      .top-overzicht-titel{
        text-align: center;
        font-family: $font-josefinSans;
        font-size: 50px;
        color: $color-primary;
      }
      .top-overzicht-text{
        text-align: center;
        font-family: $font-nunito;
        font-size: 30px;
        color: $color-light;
        font-variant: all-small-caps;
      }
      .filters{
        @include flexLayout;
        width: 100%;

        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10%;
        .filter-item{
          .filter{
            border: none;
          }
          legend{
            font-family: $font-josefinSans;
            color: $color-primary;
            font-size: x-large;

          }
          .filter-text{
            font-family: $font-nunito;
            color: $color-light;
          }
        }
      }

    }
    .overzicht-lijst{
      margin-top: 25%;
      .overzicht-items{
        .item{
          width: 33.33%;
          height: 25vw;
          position: relative;
          overflow: hidden;
          padding: 5% 0;
          .item-image{
            width: 100%;
            height: 100%;
            object-fit: contain;
            padding: 10px 0 5px 0;
          }
          .item-overlay{
            @include overlay;
            @include flexLayout;
            flex-direction: column;
            .product-price{
              color: $color-light;
              @include textStyles;
              font-size: x-large;
              font-family: $font-nunito;
              span{
                color: red;
              }
            }
            .item-overlay-titel{
              font-family: $font-nunito;
              font-size: 40px;
              @include textStyles;
            }
            .item-overlay-text{
              font-family: $font-josefinSans;
              font-size: 30px;
              @include textStyles;
            }
            .item-overlay-button{
              .detail-link{
                text-decoration: none;
                color: $color-primary;
              }
              .detail-link:hover{
                color: $color-secondary;
              }
              @include itemOverlay;
            }
          }
        }
        .item:hover{
          .item-overlay{
            left: 0;
            transition: left 0.7s;
          }
        }
      }
      .paginatie{
        @include flexLayout;
        justify-content: center;
       @include fontStyle;
        span{
          text-decoration: underline;
        }

      }
    }
  }
}

//DETAIL_MAIN//

.detail{
&-body{
  background: linear-gradient(rgba($color-grey, 0.4), rgba($color-light, 0.2)), url("../assets/iphone-bg-2.jpeg");
  background-size: cover;
  .detail{
  &-main{
    width: 100%;
    height: 40%;
    margin: 0 auto;
    .detail{
    &-iphone{
      @include flexLayout;
      flex-direction: row;
      flex-wrap: nowrap;
      background-color: rgba($color-secondary, 0.9);
      justify-content: center;
      .detail-img-small{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        img{
          scale: 70%;
        }
      }
      .detail-img-big{
        display: flex;
        justify-content: center;
        height: 30%;
        img{
          scale: 50%;
        }
      }
      .detail-specificaties{
        display: flex;
        margin: auto 0;
        .detail-list{
          font-family: $font-josefinSans;
          word-spacing: 2px;
          .detail-list-item{
            list-style-type: none;
            margin-bottom: 3%;
            h1{
              color: $color-primary;
            }
          }
          .detail-list-item-listed{
            margin-bottom: 3%;
          }
        }
      }
    }

  }
}
  }
}
}

//LOGIN_MAIN//

.login{
&-body{
  background: linear-gradient(rgba($color-grey, 0.4), rgba($color-grey, 0.6), rgba($color-grey, 0.8),rgba($color-grey, 1.0)), url("../assets/phone-bg.jpeg");
  background-size: cover;
  height: 100%;
  .login-main{
    .login-profile{
        display: flex;
      justify-content: center;

      .login-gegevens{
        padding: 8%;
        background-color: rgba($color-grey, 0.9);
        border-radius: 30px;
        .login-title {
          font-family: $font-josefinSans;
          color: $color-primary;
          font-size: xx-large;
          margin-bottom: 2%;
          align-items: center;
        }
        .login-text{
          font-family: $font-nunito;
          color: $color-light;
          @include flexLayout;
          flex-direction: column;
          padding-bottom: 20%;
          .login-title{
            margin-top: 10%;
          }
          #user-name, #password, #e-mail-confirm{
            width: 50%;
            margin-bottom: 5%;
          }
          .submit{
            font-family: $font-nunito;
            color: $color-primary;
            background-color: $color-light;
            width: 20%;
            border: none;
            padding: 2% 0;
          }
        }
      }
    }
  }
}
}

//FOOTER//
.start-footer{
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .start-gegevenslijst, .start-adres{
    font-family: $font-josefinSans;
    font-size: large;
    list-style-type: none;
    @include textStyles;
    color: $color-light;
  }
}

//RESPONSIVE//
@media screen and (min-width: 413px) and (max-width: 415px)  {
  .start-body{
    background: none;
  .start-header{
    .header-banner{
      margin-top: 2%;
    }
  }
  }
  .login-body{
    background: none;
  }
  }



